<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>texiao_baopo1.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,62},{76,58}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,60},{76,58}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>texiao_baopo2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{150,114}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,32},{150,114}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>texiao_baopo3.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,2},{76,58}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,60},{76,58}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>texiao_baopo4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,122},{30,24}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,78},{30,24}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bomb.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e3d6a336eb6cb52ed8cb34719fcab8fd:1/1$</string>
            <key>textureFileName</key>
            <string>bomb.png</string>
        </dict>
    </dict>
</plist>
