<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>beijing_zhu01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{750,1334}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{750,1334}}</string>
                <key>sourceSize</key>
                <string>{750,1334}</string>
            </dict>
            <key>kuang_0101.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,715},{160,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,190}}</string>
                <key>sourceSize</key>
                <string>{160,190}</string>
            </dict>
            <key>kuang_0102.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,2},{711,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{711,211}}</string>
                <key>sourceSize</key>
                <string>{711,211}</string>
            </dict>
            <key>kuang_tuijian00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1338},{680,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{680,180}}</string>
                <key>sourceSize</key>
                <string>{680,180}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>index2.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6e523c636628b9b7593053e9388a85b8:1/1$</string>
            <key>textureFileName</key>
            <string>index2.png</string>
        </dict>
    </dict>
</plist>
