<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>anniu_huang01.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,2},{183,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,87}}</string>
                <key>sourceSize</key>
                <string>{183,87}</string>
            </dict>
            <key>anniu_jia.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,99},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{36,36}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>anniu_kaiqi.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,91},{153,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,53}}</string>
                <key>sourceSize</key>
                <string>{153,53}</string>
            </dict>
            <key>anniu_kaiqi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,66},{153,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,53}}</string>
                <key>sourceSize</key>
                <string>{153,53}</string>
            </dict>
            <key>anniu_lan01.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,584},{183,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,87}}</string>
                <key>sourceSize</key>
                <string>{183,87}</string>
            </dict>
            <key>anniu_lan02.png</key>
            <dict>
                <key>frame</key>
                <string>{{525,865},{153,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,77}}</string>
                <key>sourceSize</key>
                <string>{153,77}</string>
            </dict>
            <key>anniu_lan02_jinbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,866},{153,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,77}}</string>
                <key>sourceSize</key>
                <string>{153,77}</string>
            </dict>
            <key>kuang_0103.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,920},{100,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,30}}</string>
                <key>sourceSize</key>
                <string>{100,30}</string>
            </dict>
            <key>kuang_0104.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,584},{280,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,56}}</string>
                <key>sourceSize</key>
                <string>{280,56}</string>
            </dict>
            <key>kuang_shuliang.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,137},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{32,32}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>kuang_tongyong0101.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{500,580}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,580}}</string>
                <key>sourceSize</key>
                <string>{500,580}</string>
            </dict>
            <key>kuang_tuijian02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1014},{2,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,150}}</string>
                <key>sourceSize</key>
                <string>{2,150}</string>
            </dict>
            <key>logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,584},{428,308}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,82},{428,308}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>tubiao_baojilv.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,2},{76,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{76,62}}</string>
                <key>sourceSize</key>
                <string>{80,62}</string>
            </dict>
            <key>tubiao_hongdian.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,866},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{20,20}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>tubiao_jinbi00.png</key>
            <dict>
                <key>frame</key>
                <string>{{841,137},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{60,60}}</string>
                <key>sourceSize</key>
                <string>{64,62}</string>
            </dict>
            <key>tubiao_jinbi0101.png</key>
            <dict>
                <key>frame</key>
                <string>{{759,137},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>tubiao_jinbi0102.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,920},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>tubiao_lingzuanshi.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,584},{101,334}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{101,334}}</string>
                <key>sourceSize</key>
                <string>{103,336}</string>
            </dict>
            <key>tubiao_liulian.png</key>
            <dict>
                <key>frame</key>
                <string>{{789,2},{133,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{133,163}}</string>
                <key>sourceSize</key>
                <string>{137,167}</string>
            </dict>
            <key>tubiao_paihangbang.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,769},{94,96}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,17},{94,96}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>tubiao_qiandao.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,2},{62,98}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,14},{62,98}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>tubiao_shengji.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,66},{31,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,40}}</string>
                <key>sourceSize</key>
                <string>{31,40}</string>
            </dict>
            <key>tubiao_weili.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,80},{59,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,61}}</string>
                <key>sourceSize</key>
                <string>{59,61}</string>
            </dict>
            <key>tubiao_zuanshi00.png</key>
            <dict>
                <key>frame</key>
                <string>{{903,141},{59,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{59,57}}</string>
                <key>sourceSize</key>
                <string>{63,59}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>index.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:54b574391df33a9ef795d35b4363bfec:1/1$</string>
            <key>textureFileName</key>
            <string>index.png</string>
        </dict>
    </dict>
</plist>
