<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>anniu_guanbi01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1986,2},{59,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,63}}</string>
                <key>sourceSize</key>
                <string>{59,63}</string>
            </dict>
            <key>anniu_huang03.png</key>
            <dict>
                <key>frame</key>
                <string>{{841,1887},{243,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,87}}</string>
                <key>sourceSize</key>
                <string>{243,87}</string>
            </dict>
            <key>anniu_hui01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1086,1887},{183,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,87}}</string>
                <key>sourceSize</key>
                <string>{183,87}</string>
            </dict>
            <key>anniu_lv02.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,1887},{153,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,77}}</string>
                <key>sourceSize</key>
                <string>{153,77}</string>
            </dict>
            <key>anniu_zuanshi01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1986,131},{59,62}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{59,62}}</string>
                <key>sourceSize</key>
                <string>{59,66}</string>
            </dict>
            <key>anniu_zuanshi02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1986,67},{59,62}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{59,62}}</string>
                <key>sourceSize</key>
                <string>{59,66}</string>
            </dict>
            <key>kuang_0401.png</key>
            <dict>
                <key>frame</key>
                <string>{{841,1976},{420,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{420,64}}</string>
                <key>sourceSize</key>
                <string>{420,64}</string>
            </dict>
            <key>kuang_0402.png</key>
            <dict>
                <key>frame</key>
                <string>{{1271,1887},{520,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{520,73}}</string>
                <key>sourceSize</key>
                <string>{520,73}</string>
            </dict>
            <key>kuang_fuli.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,945},{660,940}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{660,940}}</string>
                <key>sourceSize</key>
                <string>{660,940}</string>
            </dict>
            <key>kuang_gongxihuode.png</key>
            <dict>
                <key>frame</key>
                <string>{{1326,2},{658,238}}</string>
                <key>offset</key>
                <string>{-10,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,48},{658,238}}</string>
                <key>sourceSize</key>
                <string>{750,350}</string>
            </dict>
            <key>kuang_paihangbang00301.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,1887},{600,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,0},{600,110}}</string>
                <key>sourceSize</key>
                <string>{660,110}</string>
            </dict>
            <key>kuang_paihangbang0101.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{661,941}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{661,941}}</string>
                <key>sourceSize</key>
                <string>{671,951}</string>
            </dict>
            <key>kuang_paihangbang0201.png</key>
            <dict>
                <key>frame</key>
                <string>{{1263,1976},{329,64}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{329,64}}</string>
                <key>sourceSize</key>
                <string>{329,66}</string>
            </dict>
            <key>kuang_qiandao00201.png</key>
            <dict>
                <key>frame</key>
                <string>{{1793,1041},{187,211}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{187,211}}</string>
                <key>sourceSize</key>
                <string>{189,213}</string>
            </dict>
            <key>kuang_qiandao0101.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,945},{660,940}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{660,940}}</string>
                <key>sourceSize</key>
                <string>{660,940}</string>
            </dict>
            <key>kuang_qiandao0202.png</key>
            <dict>
                <key>frame</key>
                <string>{{1793,852},{187,211}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{187,211}}</string>
                <key>sourceSize</key>
                <string>{189,213}</string>
            </dict>
            <key>kuang_qiandao0203.png</key>
            <dict>
                <key>frame</key>
                <string>{{1793,663},{187,211}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{187,211}}</string>
                <key>sourceSize</key>
                <string>{189,213}</string>
            </dict>
            <key>texiao_fuli01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1887},{156,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{156,156}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>texiao_qiandao01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1793,1569},{176,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{176,174}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>texiao_qiandao02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1793,1393},{176,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{176,174}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>texiao_qiandao03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1793,242},{226,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,12},{226,226}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>tubiao_baoxiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1793,470},{214,191}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{214,191}}</string>
                <key>sourceSize</key>
                <string>{220,197}</string>
            </dict>
            <key>tubiao_jiantou01.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,1999},{31,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,22}}</string>
                <key>sourceSize</key>
                <string>{31,22}</string>
            </dict>
            <key>tubiao_lihe0201.png</key>
            <dict>
                <key>frame</key>
                <string>{{1793,1230},{161,180}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{161,180}}</string>
                <key>sourceSize</key>
                <string>{165,180}</string>
            </dict>
            <key>tubiao_yiqiandao.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,1999},{50,47}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{50,47}}</string>
                <key>sourceSize</key>
                <string>{56,51}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tips.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dbfc3392c5247e5c7300eb99f04bd3fe:1/1$</string>
            <key>textureFileName</key>
            <string>tips.png</string>
        </dict>
    </dict>
</plist>
