<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>kuang_xinshou01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{406,263}}</string>
                <key>offset</key>
                <string>{-2,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,29},{406,263}}</string>
                <key>sourceSize</key>
                <string>{432,293}</string>
            </dict>
            <key>texiao_guang0101.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,2},{100,100}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,50},{100,100}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>texiao_guang0102.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,391},{112,112}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,44},{112,112}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>texiao_guang0103.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,267},{122,122}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,39},{122,122}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>texiao_guang0104.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,267},{132,132}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,34},{132,132}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>texiao_guang0105.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,267},{142,142}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,29},{142,142}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>tubiao_shouzhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,391},{111,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,113}}</string>
                <key>sourceSize</key>
                <string>{111,113}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>newplay.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0b4750b7f244cdd11eb5fa80947dd871:1/1$</string>
            <key>textureFileName</key>
            <string>newplay.png</string>
        </dict>
    </dict>
</plist>
