<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>anniu_huang03_fenxiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,247},{243,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,87}}</string>
                <key>sourceSize</key>
                <string>{243,87}</string>
            </dict>
            <key>anniu_huang03_shipin.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,2},{243,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,87}}</string>
                <key>sourceSize</key>
                <string>{243,87}</string>
            </dict>
            <key>anniu_lv01.png</key>
            <dict>
                <key>frame</key>
                <string>{{505,492},{183,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,87}}</string>
                <key>sourceSize</key>
                <string>{183,87}</string>
            </dict>
            <key>kuang_0301.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{501,581}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{501,581}}</string>
                <key>sourceSize</key>
                <string>{511,591}</string>
            </dict>
            <key>kuang_paiming0301.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,585},{421,480}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,6},{421,480}}</string>
                <key>sourceSize</key>
                <string>{431,508}</string>
            </dict>
            <key>kuang_paiming0302.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,564},{380,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,0},{380,80}}</string>
                <key>sourceSize</key>
                <string>{420,80}</string>
            </dict>
            <key>shuzi_0200.png</key>
            <dict>
                <key>frame</key>
                <string>{{837,2},{26,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,32}}</string>
                <key>sourceSize</key>
                <string>{26,32}</string>
            </dict>
            <key>shuzi_0201.png</key>
            <dict>
                <key>frame</key>
                <string>{{773,564},{18,32}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{18,32}}</string>
                <key>sourceSize</key>
                <string>{26,32}</string>
            </dict>
            <key>shuzi_0202.png</key>
            <dict>
                <key>frame</key>
                <string>{{795,56},{24,32}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,32}}</string>
                <key>sourceSize</key>
                <string>{26,32}</string>
            </dict>
            <key>shuzi_0203.png</key>
            <dict>
                <key>frame</key>
                <string>{{871,54},{24,32}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,32}}</string>
                <key>sourceSize</key>
                <string>{26,32}</string>
            </dict>
            <key>shuzi_0204.png</key>
            <dict>
                <key>frame</key>
                <string>{{803,2},{26,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,32}}</string>
                <key>sourceSize</key>
                <string>{26,32}</string>
            </dict>
            <key>shuzi_0205.png</key>
            <dict>
                <key>frame</key>
                <string>{{761,44},{24,32}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,32}}</string>
                <key>sourceSize</key>
                <string>{26,32}</string>
            </dict>
            <key>shuzi_0206.png</key>
            <dict>
                <key>frame</key>
                <string>{{837,30},{24,32}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,32}}</string>
                <key>sourceSize</key>
                <string>{26,32}</string>
            </dict>
            <key>shuzi_0207.png</key>
            <dict>
                <key>frame</key>
                <string>{{803,30},{24,32}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,32}}</string>
                <key>sourceSize</key>
                <string>{26,32}</string>
            </dict>
            <key>shuzi_0208.png</key>
            <dict>
                <key>frame</key>
                <string>{{871,28},{24,32}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,32}}</string>
                <key>sourceSize</key>
                <string>{26,32}</string>
            </dict>
            <key>shuzi_0209.png</key>
            <dict>
                <key>frame</key>
                <string>{{871,2},{24,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{24,32}}</string>
                <key>sourceSize</key>
                <string>{26,32}</string>
            </dict>
            <key>texiao_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,585},{436,434}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,8},{436,434}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>tubiao_paiming01.png</key>
            <dict>
                <key>frame</key>
                <string>{{697,2},{62,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,48}}</string>
                <key>sourceSize</key>
                <string>{62,48}</string>
            </dict>
            <key>tubiao_paiming02.png</key>
            <dict>
                <key>frame</key>
                <string>{{633,2},{62,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,48}}</string>
                <key>sourceSize</key>
                <string>{62,48}</string>
            </dict>
            <key>tubiao_paiming03.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,946},{62,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,48}}</string>
                <key>sourceSize</key>
                <string>{62,48}</string>
            </dict>
            <key>tubiao_paiming04.png</key>
            <dict>
                <key>frame</key>
                <string>{{761,2},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>tubiao_zhuye.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,946},{54,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,50}}</string>
                <key>sourceSize</key>
                <string>{54,50}</string>
            </dict>
            <key>tubiao_zidan_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,492},{82,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{82,81}}</string>
                <key>sourceSize</key>
                <string>{86,85}</string>
            </dict>
            <key>wenzi_jieshu.png</key>
            <dict>
                <key>frame</key>
                <string>{{773,492},{246,70}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,70}}</string>
                <key>sourceSize</key>
                <string>{248,72}</string>
            </dict>
            <key>wenzi_xibai.png</key>
            <dict>
                <key>frame</key>
                <string>{{505,2},{126,69}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,69}}</string>
                <key>sourceSize</key>
                <string>{128,71}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fail.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:28be6ad2a4f2213472caa513d8338dd5:1/1$</string>
            <key>textureFileName</key>
            <string>fail.png</string>
        </dict>
    </dict>
</plist>
